<a href="https://colab.research.google.com/github/PankajAgarwalS/TE-COMP-SEM-6/blob/main/Prac3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from seaborn.utils import get_dataset_names
df=sns.load_dataset('tips')

### General Information of Dataset

In [3]:
print("Shape of the DataFrame:")
print(df.shape)

Shape of the DataFrame:
(244, 7)

In [4]:
df.sample(5)

     total_bill   tip     sex smoker   day    time  size
106       20.49  4.06    Male    Yes   Sat  Dinner     2
191       19.81  4.19  Female    Yes  Thur   Lunch     2
75        10.51  1.25    Male     No   Sat  Dinner     2
173       31.85  3.18    Male    Yes   Sun  Dinner     2
109       14.31  4.00  Female    Yes   Sat  Dinner     2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [6]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [7]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

### Descriptive Statistics

In [8]:
mean = df['total_bill'].mean()
print("total bill Mean:", mean)

mean = df['tip'].mean()
print("tip Mean:", mean)

mean = df['size'].mean()
print("size Mean:",mean)

total bill Mean: 19.78594262295082
tip Mean: 2.99827868852459
size Mean: 2.569672131147541

In [9]:
mode_sex = df['sex'].mode().values[0]
print("Mode of 'sex' column:", mode_sex)

mode_smoker = df['smoker'].mode().values[0]
print("Mode of 'smoker' column:", mode_smoker)

mode_day = df['day'].mode().values[0]
print("Mode of 'day' column:", mode_day)

mode_time = df['time'].mode().values[0]
print("Mode of 'time' column:", mode_time)

mode_tip = df['tip'].mode().values[0]
print("Mode of 'tip' column:", mode_tip)

Mode of 'sex' column: Male
Mode of 'smoker' column: No
Mode of 'day' column: Sat
Mode of 'time' column: Dinner
Mode of 'tip' column: 2.0

In [10]:
median = df['total_bill'].median()
print("total bill Mean:", median)

median = df['tip'].median()
print("tip Mean:", median)

median = df['size'].median()
print("size Mean:",median)

total bill Mean: 17.795
tip Mean: 2.9
size Mean: 2.0

In [11]:
variance_total_bill = df['total_bill'].var()
print("Variance total_bill:", variance_total_bill)

variance_tip = df['tip'].var()
print("Variance tip:", variance_tip)

Variance total_bill: 79.25293861397827
Variance tip: 1.914454638062471

In [12]:
std_dev_total_bill = df['total_bill'].std()
print("Standard Deviation of total_bill:", std_dev_total_bill)

std_dev_tip = df['tip'].std()
print("Standard Deviation of tip:", std_dev_tip)

Standard Deviation of total_bill: 8.902411954856856
Standard Deviation of tip: 1.3836381890011822

In [13]:
covariance = df['total_bill'].cov(df['tip'])
print("Covariance:", covariance)

correlation = df['total_bill'].corr(df['tip'])
print("Correlation:", correlation)

Covariance: 8.323501629224854
Correlation: 0.6757341092113641

### Descriptive Statistics by Group

In [14]:
grouped_df=df.groupby('smoker')

In [15]:
mean = grouped_df.mean()
print(mean)

median = grouped_df.median()
print(median)

min = grouped_df.min()
print(min)

max = grouped_df.max()
print(max)

std = grouped_df.std()
print(std)

        total_bill       tip      size
smoker
Yes      20.756344  3.008710  2.408602
No       19.188278  2.991854  2.668874
        total_bill   tip  size
smoker
Yes          17.92  3.00   2.0
No           17.59  2.74   2.0
        total_bill  tip  size
smoker
Yes           3.07  1.0     1
No            7.25  1.0     1
        total_bill   tip  size
smoker
Yes          50.81  10.0     5
No           48.33   9.0     6
        total_bill       tip      size
smoker
Yes       9.832154  1.401468  0.810751
No        8.255582  1.377190  1.017984

<ipython-input-15-bea1a1ba6982>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean = grouped_df.mean()
<ipython-input-15-bea1a1ba6982>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  median = grouped_df.median()
<ipython-input-15-bea1a1ba6982>:7: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  min = grouped_df.min()
<ipython-input-15-bea1a1ba6982>:10: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  max = grouped_df.max()
<ipython-input-15-bea1a1ba6982>:13: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  std = grouped_df.std()

In [16]:
grouped_df=df.groupby('day')

mean = grouped_df.mean()
print(mean)

median = grouped_df.median()
print(median)

min = grouped_df.min()
print(min)

max = grouped_df.max()
print(max)

std = grouped_df.std()
print(std)

      total_bill       tip      size
day
Thur   17.682742  2.771452  2.451613
Fri    17.151579  2.734737  2.105263
Sat    20.441379  2.993103  2.517241
Sun    21.410000  3.255132  2.842105
      total_bill    tip  size
day
Thur       16.20  2.305   2.0
Fri        15.38  3.000   2.0
Sat        18.24  2.750   2.0
Sun        19.63  3.150   2.0
      total_bill   tip  size
day
Thur        7.51  1.25     1
Fri         5.75  1.00     1
Sat         3.07  1.00     1
Sun         7.25  1.01     2
      total_bill    tip  size
day
Thur       43.11   6.70     6
Fri        40.17   4.73     4
Sat        50.81  10.00     5
Sun        48.17   6.50     6
      total_bill       tip      size
day
Thur    7.886170  1.240223  1.066285
Fri     8.302660  1.019577  0.567131
Sat     9.480419  1.631014  0.819275
Sun     8.832122  1.234880  1.007341

<ipython-input-16-161c7aae890e>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean = grouped_df.mean()
<ipython-input-16-161c7aae890e>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  median = grouped_df.median()
<ipython-input-16-161c7aae890e>:9: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  min = grouped_df.min()
<ipython-input-16-161c7aae890e>:12: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  max = grouped_df.max()
<ipython-input-16-161c7aae890e>:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  std = grouped_df.std()

In [17]:
grouped_df=df.groupby('time')

mean = grouped_df.mean()
print(mean)

median = grouped_df.median()
print(median)

min = grouped_df.min()
print(min)

max = grouped_df.max()
print(max)

std = grouped_df.std()
print(std)

        total_bill       tip      size
time
Lunch    17.168676  2.728088  2.411765
Dinner   20.797159  3.102670  2.630682
        total_bill   tip  size
time
Lunch       15.965  2.25   2.0
Dinner      18.390  3.00   2.0
        total_bill   tip  size
time
Lunch         7.51  1.25     1
Dinner        3.07  1.00     1
        total_bill   tip  size
time
Lunch        43.11   6.7     6
Dinner       50.81  10.0     6
        total_bill       tip      size
time
Lunch     7.713882  1.205345  1.040024
Dinner    9.142029  1.436243  0.910241

<ipython-input-17-1a04a869e47f>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean = grouped_df.mean()
<ipython-input-17-1a04a869e47f>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  median = grouped_df.median()
<ipython-input-17-1a04a869e47f>:9: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  min = grouped_df.min()
<ipython-input-17-1a04a869e47f>:12: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  max = grouped_df.max()
<ipython-input-17-1a04a869e47f>:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  std = grouped_df.std()

                          total_bill                                        \
                               count       mean        std    min      25%
sex    smoker day  time
Male   Yes    Thur Lunch        10.0  19.171000   6.757421  10.34  15.6100
              Fri  Lunch         3.0  11.386667   2.510963   8.58  10.3700
                   Dinner        5.0  25.892000  10.383290  12.03  21.0100
              Sat  Dinner       27.0  21.837778   9.988045   7.74  15.1850
              Sun  Dinner       15.0  26.141333  10.693824   7.25  17.3550
       No     Thur Lunch        20.0  18.486500   8.739134   7.51  12.6950
              Fri  Dinner        2.0  17.475000   7.092281  12.46  14.9675
              Sat  Dinner       32.0  19.929063   9.779061   9.55  13.3475
              Sun  Dinner       43.0  20.403256   8.140559   8.77  14.4250
Female Yes    Thur Lunch         7.0  19.218571  10.847137  12.74  13.0000
              Fri  Lunch         3.0  13.260000   3.093105  10.09  11.7550
                   Dinner        4.0  12.200000   4.810121   5.75   9.9500
              Sat  Dinner       15.0  20.266667  10.485703   3.07  12.8300
              Sun  Dinner        4.0  16.540000   4.854764   9.60  15.5325
       No     Thur Lunch        24.0  15.899167   6.904808   8.35  11.3275
                   Dinner        1.0  18.780000        NaN  18.78  18.7800
              Fri  Lunch         1.0  15.980000        NaN  15.98  15.9800
                   Dinner        1.0  22.750000        NaN  22.75  22.7500
              Sat  Dinner       13.0  19.003846   6.730219   7.25  15.7700
              Sun  Dinner       14.0  20.824286   8.396159  10.29  15.1750

                                                    tip            ...  \
                              50%      75%    max count      mean  ...
sex    smoker day  time                                            ...
Male   Yes    Thur Lunch   17.645  20.2575  32.68  10.0  3.058000  ...
              Fri  Lunch   12.160  12.7900  13.42   3.0  1.900000  ...
                   Dinner  27.280  28.9700  40.17   5.0  3.246000  ...
              Sat  Dinner  20.290  26.2400  50.81  27.0  2.879259  ...
              Sun  Dinner  23.330  33.7650  45.35  15.0  3.521333  ...
       No     Thur Lunch   16.975  22.7750  41.19  20.0  2.941500  ...
              Fri  Dinner  17.475  19.9825  22.49   2.0  2.500000  ...
              Sat  Dinner  17.870  20.5000  48.33  32.0  3.256563  ...
              Sun  Dinner  19.490  24.5350  48.17  43.0  3.115349  ...
Female Yes    Thur Lunch   16.400  18.1400  43.11   7.0  2.990000  ...
              Fri  Lunch   13.420  14.8450  16.27   3.0  2.660000  ...
                   Dinner  13.365  15.6150  16.32   4.0  2.700000  ...
              Sat  Dinner  22.120  27.0200  44.30  15.0  2.868667  ...
              Sun  Dinner  17.830  18.8375  20.90   4.0  3.500000  ...
       No     Thur Lunch   13.290  18.3550  34.83  24.0  2.437083  ...
                   Dinner  18.780  18.7800  18.78   1.0  3.000000  ...
              Fri  Lunch   15.980  15.9800  15.98   1.0  3.000000  ...
                   Dinner  22.750  22.7500  22.75   1.0  3.250000  ...
              Sat  Dinner  17.070  20.6900  35.83  13.0  2.724615  ...
              Sun  Dinner  17.150  25.5325  35.26  14.0  3.329286  ...

                                          size                                \
                              75%    max count      mean       std  min  25%
sex    smoker day  time
Male   Yes    Thur Lunch   4.0000   5.00  10.0  2.300000  0.674949  2.0  2.0
              Fri  Lunch   2.0600   2.20   3.0  1.666667  0.577350  1.0  1.5
                   Dinner  4.0000   4.73   5.0  2.400000  0.894427  2.0  2.0
              Sat  Dinner  3.1850  10.00  27.0  2.629630  0.926040  2.0  2.0
              Sun  Dinner  4.0000   6.50  15.0  2.600000  0.985611  2.0  2.0
       No     Thur Lunch   3.5500   6.70  20.0  2.500000  1.147079  2.0  2.0
              Fri  Dinner  3.0000   3.50   2.0  2.000000  0.000000  2.0  2.0
              Sat  Dinner  3.6400   9.00  32.0  2.656250  0.787375  2.0  2.0
              Sun  Dinner  3.8150   6.00  43.0  2.883721  1.051287  2.0  2.0
Female Yes    Thur Lunch   3.7100   5.00   7.0  2.428571  0.786796  2.0  2.0
              Fri  Lunch   2.9900   3.48   3.0  2.000000  0.000000  2.0  2.0
                   Dinner  3.3250   4.30   4.0  2.000000  0.000000  2.0  2.0
              Sat  Dinner  3.3100   6.50  15.0  2.200000  0.676123  1.0  2.0
              Sun  Dinner  3.6250   4.00   4.0  2.500000  0.577350  2.0  2.0
       No     Thur Lunch   2.8525   5.17  24.0  2.500000  1.251086  1.0  2.0
                   Dinner  3.0000   3.00   1.0  2.000000       NaN  2.0  2.0
              Fri  Lunch   3.0000   3.00   1.0  3.000000       NaN  3.0  3.0
                   Dinner  3.2500   3.25   1.0  2.000000       NaN  2.0  2.0
              Sat  Dinner  3.0000   4.67  13.0  2.307692  0.751068  1.0  2.0
              Sun  Dinner  3.9375   5.20  14.0  3.071429  0.997249  2.0  2.0


                           50%  75%  max
sex    smoker day  time
Male   Yes    Thur Lunch   2.0  2.0  4.0
              Fri  Lunch   2.0  2.0  2.0
                   Dinner  2.0  2.0  4.0
              Sat  Dinner  2.0  3.0  5.0
              Sun  Dinner  2.0  3.0  5.0
       No     Thur Lunch   2.0  2.0  6.0
              Fri  Dinner  2.0  2.0  2.0
              Sat  Dinner  2.0  3.0  4.0
              Sun  Dinner  2.0  4.0  6.0
Female Yes    Thur Lunch   2.0  2.5  4.0
              Fri  Lunch   2.0  2.0  2.0
                   Dinner  2.0  2.0  2.0
              Sat  Dinner  2.0  2.0  4.0
              Sun  Dinner  2.5  3.0  3.0
       No     Thur Lunch   2.0  2.0  6.0
                   Dinner  2.0  2.0  2.0
              Fri  Lunch   3.0  3.0  3.0
                   Dinner  2.0  2.0  2.0
              Sat  Dinner  2.0  3.0  4.0
              Sun  Dinner  3.0  4.0  5.0

[20 rows x 24 columns]